/* reset */

:where(*, ::before, ::after) {
  box-sizing: border-box;
  flex: none;
  border: 0 solid currentColor;
}

:where(*) {
  margin: 0;
}

html,
body {
  height: 100%;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

button,
input,
textarea {
  font: inherit;
}

button {
  cursor: pointer;
}

/* centering body */

body {
  --body-width: min(100vw - 18px /* scrollbar */, 1280px);
  width: var(--body-width);
  margin: auto;
  overflow-y: scroll;
}

/* font */

@font-face {
  font-family: cdc1c23d;
  src: url(./genjyuugothic-20150607/GenJyuuGothic-Regular.woff2);
}

html {
  font-family: cdc1c23d;
}

/* jspreadsheet */

.jexcel {
  border-left: none;
  border-top: none;
}

.jexcel > thead > tr > td,
.jexcel > tbody > tr > td {
  line-height: 1.25;
  padding: 4px;
}
.jexcel > thead > tr > td {
  text-align: center !important;
}
.jexcel > tbody > tr > td > textarea {
  padding: 4px !important;
  min-height: calc(2.5em + 8px) !important;
  text-align: inherit;
}

.jexcel > colgroup > col:first-child {
  width: 60px !important;
}

.jexcel > colgroup > col[width='9999'] {
  width: calc(var(--body-width) - 50px - 50px - 90px - 320px - 140px - 32px - 12px);
}
@media (max-width: 768px) {
  .jexcel > colgroup > col[width='9999'] {
    width: 0;
  }
}

.jexcel_container,
.jexcel_content {
  padding: 0 !important;
}
